
@namespace xf url("http://www.w3.org/2002/xforms");
@namespace html url("http://www.w3.org/1999/xhtml");

:root {
    --margenbaselateral: 50px;
    --margenbaseelemento: 0.4em;
}

body {
    margin-left :40px;
    margin-right:40px;
}

main {
    display:block;
    padding-left:8% ;
    margin-top:4em;
}

.section, fieldset {
display:block;
    border:0px ;
    
}

.subsection {
display:block;
padding-left:2em; 
}



 h2 , h3, h4, h5 {
    width:92% ;
    padding-right: 4%;
    padding-left: 0.6em ;
    padding-top :0.1em;
    margin-top:0.6em;
    padding-bottom:0.1em;
    text-align : left;
    margin-bottom:0.5em;
    display:inline ;
    float : left ;
    clear : both ;
}



h1 {
    width:92% ;
    padding-right: 4%;
    padding-left: 4%;
    padding-top :0.4em;
    padding-bottom:0.4em;
    text-align : left;
}



h2 {

} 

h3 *.xforms-output {
    display:inline; 
    margin-right:1em;
}

h4 {
    text-align : left;
}



.goalheader {
    width:92% ;

    display:block; 
    padding-left:4%;
    padding-right: 4%;

    clear:both;
}

.objectiveheader {
    display:block; 	
    padding-left:4%;
    padding-right: 4%;
    clear:both;
}


a.item-title {
    text-decoration: none ;
}

.type-icon {
display: inline ; 
width:30px; 
margin-right: 0.5em ; 
}

/*.............   Elementos genericos */

/* Elementon diferentes */

p.entitydescription {
    margin:3em;
    padding:1em;
    border:1px solid #121233 ;   
}

/* ........... Form Controls alignement ...............*/


.line  {
    display:inline ;
    float : left ;
    clear : both ;
    margin-top:0.8em;
    padding-top:0.1em;
    width:100%;

}


.titleline  {
    display:inline ;
    float : left ;
    clear : both ;
    margin-top:0.8em;
    padding-top:0.1em;
    width:92%;
}

div.headerline {
    display : block;
    clear:both;
}

div.headerline > label  {
    display : inline;

}



.singleitem {
    display:block;
/*    margin-top : 1.1em ; */

}

.firstitem ,{
    float : left ;
    clear : both; 
}

.lineitem {
    float : left ;
    clear : none;
    padding-top : 0.5em ;
}



div.buttonline {
    display : block;
    clear:both;
}

div.subcategoryheader {
    border-top : 0.4em solid #bbbbee;
    border-bottom : 0.4em solid #bbbbee;
    display : block;
    min-height:2em ;
    padding-top: 0.5em;
    clear:both;
}

.subcategory {
    display:block;
    margin:2em;
    margin-left:3em;
}

/* ---------------------------------------------------------- */

#marco {
    display:block;
    max-width:70em;
    box-align:center;
    margin-left:auto;
    margin-right:auto;
    /* border:1px solid silver;*/
    
}

header {
    display:block;
}

header h1 {
    position : relative;
}

main {
    margin-left:1em ;
    margin-right:1em ;
    float : none;
    clear : both; 
}



/* ............... Subheader row ................... */

div.subheader {
    display:block;
    positon:relative;
    clear:all;
}

#breadcrumb {
    float:left;
    padding-left:var(--margenbaselateral);
    padding-top:0px;
    min-width:50%;
} 

#confifurationoptions {
    float: right;
    display : block; 
    padding-right: var(--margenbaselateral);
}

#confifurationoptions > *  {
    display: inline;
    padding-left:0.5em ;

}

#confifurationoptions img {
    /* 
       display:inline-block;
       mar	gin-top: var(--margenbaseelemento);
    border:1px solid black; 
   */
}


#confifurationoptions  * {
    margin:0;
}

#confifurationoptions  *  {
    /*
    border:1px solid black; 
   */
}



#page-counter {
    float:right;
    padding-right:var(--margenbaselateral);
}

.nopaddingtext {
    min-width:0.5em ;
    margin-right: 1em ;
    margin-left:0.2em;
}

/* .................... Elements .................. */


textarea {
    display : block ; 
    min-width : 65em;
    min-height: 15em ;
    margin-top : 0.5em ; 
}

.longinput input {
    min-width:30em;
}

.smallinput input {
    width:3em;
    display:inline;
}

/*
input.xforms-value,   .xforms-input 
,*/
 input[type="text"],textarea , select  { 
    border : 1px solid #b1c1d7 ; 
    border-radius: 3px;

}

.xforms-required-icon {
    border:0px;
}


.calendar .title, .calendar .title input, .calendar .title select, .calendar tfoot {
    padding				: 1px;
    border				: 1px solid #b1c1d7 ;
    text-align			: center;
}

.xforms-label {
    /* Position */
    min-width: 300px;
    padding-left:1em ; 
    padding-right:1em ; 
    margin-right:1em ; 
    

    /* style*/
    
    margin : 0.4em ;
    
}

div.line .xforms-output {
    display:inline-block;   min-width :5em; 
}

div.line .nopaddingtext {
    min-width :0.5em; 
}

.nopaddingtext    {
    display:inline-block; min-width :0.5em;
}

.xform-focus {
}



.navigation-buttons {
    float:right;
    clear:both;
    margin-right:100px;
             margin-top:2.5em ; 
}

.button-icon {
    max-height:60%;
    display:inline;
    padding:0;
    margin:auto;
    vertical-align:middle;
}



/*
.remove-button {
    clear:none;
    float:right;
    }

*/

.remove-button {

    display : inline;

/*    float:right;
    clear:none;*/

    margin-top:0 ; 
    
}

.org-add-button, add-buttons {
    display:block; 
    clear:both;
    margin-left:2.5em;
}


.add-button , .org-add-button {
    float:left;
    clear:both;
    margin-left:2.5em;
}

 .org-add-button .add-button  ,  .add-buttons .add-button  {
     margin-top:1em ; 
     margin-bottom:1em ; 
    float:left;
}

/*
[class*="button"] {
    margin-top:2.5em ; 
}
*/


.default-button   button {
    border-left:1px solid #091c31 ;
    border-radius: 2px;
    height:1.8em;
}
 

.navigation-buttons button {
    border:0px;
    border-left:1px solid #091c31 ;
    border-radius: 2px;
    height:1.8em;
}

.navigation-buttons button.back {
}

.navigation-buttons button.alert {
}


.navigation-buttons * {
}

.iconbutton button {
}

/*
.smallicons label, .smallicons *.smallicon, .smallicons button , .smallicons span  
*/

span.iconbutton 
{

    margin-left:2px;
    margin-right:2px;
}


.iconbutton label {
    width:15px;
}

.title-logo {
    width:40px;
    display:inline-block;     
    margin-right:0.5em ;
}

.stratml-logo {
    position:absolute;
    top:0px;
    right:2em;
    margin-top:0;
    border-top:0;
    height:100%;
    display:block; 

}

/* 0_mainform */

ol  {
margin-left:5em ;
}

ol.subsection {
margin-left:1.5em ;

}

ol.mainform-list {
line-height:2.5em;
list-style-type:none;
}

ol.mainol, ol.mainperformace, main.goalspage, main.performancepage  {
    margin-left : 1em ;
    padding-left: 1em;
}

